{% extends "base.html" %}


{% block content %} 
    <h1>In search of alternative lifes in Central America</h1>
    
    <p> 
        What do we think of when we think of Central America. Firstly, we probably confuse Latain America with the very small 
        strip of land that connects nothern America with sothern America. 
        How do I derive in a strong sense what it means to act?
        I have seen a huge amount of ideas about what it means to be human. 
        What should motivate me to act? Where do motivations come from? 
        What motivates us? People have their dreams. But they don't get them only by themselves. 
        People strive for social status. People also want to have the feeling that they are needed. They want to be united and want to follow a higher meaning. 
        But what is a higher meaning? 
        In fact, people do want to give something back to society. 

        But what is a human mind then? It is a picture of what it means to be human. It answers three questions: 
        - Why are we here?
        - What do we do?
        - Where do we go?

        What is a human mind?
        A human mind a model of what it means to be human. It is a working definition of what it means to be human.
        It is a universal story that gives us answers to fundamental questions. 
        This story gives us an understanding of what it means to be human and gives us a framework for what to do with our lifes. 
        With other words a human mind is an ethic. From a metaethics perspective, it is normative and not descriptive. It tells us how to 
        behave and why. It is not a rational set of rules or instructions but rather an abstract story. 
        In regards of the belief-desire pairs, a human mind influences what our desires and beliefs are. Accordingly, actions and motivations and intentions 
        are formed. What is the underlying component that forms beliefs and desires. This is what people would argue is socialisation and development.
        
        I think I have a picture of what it means to be human in mind.
        I feel that learning, understanding, helping others and experiencing what it means to be human is at its core. 
        I think that being and keeping us alive is also a core thought. 

        
        What human mind did I have in mind before changing?
        I saw a version of transhumanism, where I would incorporate technology to become a better person. I combined that with the platonian view that pictures 
        an educated wiseman as the best version of men. I thought all my problems will be solved when I learn math, computer science, arts and workout.
        
        How could I think that a vision of transhumanism is right? 
        I was so disillusioned by the fact that most people don't believe in such a human mind. Money, power, social status,
        pleasure or anything else would be the center of their view. Some of them believed in social and human values. 

        Why is fantasy and mystism a human mind that I would like to reject?
        Stories give us history and roots. We need storytelling to form unity. We use language to establish meanings and identity.

        Folk lore and myths are the bases for modern fantasy. It roots and connects us and unites us.  

        Following a story feels good. Having a strong human mind tells me how to feel, why to feel and what to feel. Desires are there, 
        they don't come from nowhere but from my inner self. 

        Patterns
        Structure
        Content
        Compression
        Processing
        Story telling
        Human mind

        I met so many people with so many ideas about what it means to be alive and what it means to be human. 
    </p>


    <h2>Little corn island</h2>
    

    Why was it such a big shock to see little corn island as an independent island? Before some friends 
    of mine were thinking about moving abroad or to build their own community. That was exactly was I saw. 
    Little corn island grows their own food to feed their people. They were only to a small extent dependend on 
    the rest of the world. They adopted their own culture. And to be honest, people where living on a small island without
    any sense of direction. Young people had nothing to do. There was no perspective about what to do with their lifes.
    They have their own legal systems, their own culture and politics. I think this was a perfect example of what a human mind could be.
    And it's rather unattractive. It's an island economy and there is no development. No resources and days come and go.
        

    <h2>Retired chef</h2>
    
    Once a grandpa who visited the island from time to time asked me whether I want to live on the island. 
    He comes and goes every now and then, he is a retired chef and used to work hard on other more touristy island to
    get a good amount of money. Now he cannot get a good pension in the united kingdom, so he keeps traveling and drinking.
    He told me that after the people survived the big hurrican, people celebrated for several days. Everyone was very happy and that's 
    why many children were born at that time. 

    <h2>Brayner</h2>

    In the same turn, I met Brayner, a guy who got it all. For him Turrialba and all of the struggles that we experienced were not there.
    He wanted to progress with medicine. He was so happy to talk about cognition and health. He was religious and 
    very open to talk. 

    <h2>Dan</h2>
    How does Dan, someone from another time period sees all of that? Things that Dan always said about property, three things count: location, location, location. 
    He is all about health. He has to care for his family. They are poor and without perspective without him. He used to be 
    someone who lived with advanced culture. He used to enjoy peak culture everyday in New York City. 

    <h2>Gabriela</h2>
    What an idea did Gabriela have? She was all about business. She had a concret vision about her super artist center. 
    She was bringing up all the energy she had for bringing her project into life. 

    <h2>Marina</h2>
    What had Marina to say about life? She was a very polite girl. She followed her religion and felt a bit of pressure to get married. 
    She was 30 years old and still without a man which was considered a bummer for her social circle. She was caring for her dad. 
    How does it feel to be Nicaraguan, working for your religion and going from door to door? Does she want to get credit and how does this perspective feel?

    <h2>Rosa</h2>
    What about Rosa? She said that outsiders are buying land and environmental change does change her property. She was taking care while 
    her aunty was on vacation. Her daughter was already 14 years old and had the same height as she did. What idea of a human mind did she have?
    According to her, things change and most things stay the same. There are things like pleasure but the island is already good in the way it is.

    <h2>Dennis</h2>
    Dennis saw that differently. He always wanted change. He is open for experimentation and willing to take risks. He is an enemy 
    of the status quo and tried to find loopholes in order to get rich. He is creative and unconventional. He knows how to behave and please other people.
    But yet, I found it very strange that he used his walking cane in several ways to get attention from other people. He hammered on the ground, pointed at people or 
    knocked on the seatback when he wanted attention. He knew that that object created attention and he knew when it was still socially accepted when he used 
    this unconventional way. 
    
    <h2>Orlando</h2>
    Why did Orlando have this idea of growth in his mind? Why was it so clear for him that the way forward is through the means of technology.
    Why did he want to create this business. Behind all of that is a human mind that pictures the meaning of life as a technological movement into the future.


    <h2>Lucy</h2>
    Lucy was the mother. She was the caretaker and boss of her hostal. She trusted in tradition. Things were slow and all her daughters were working in the hostal.
    The standards were low and food abundant. Everything followed the way it used to be. But interestingly without abstract thinking. There was no 
    organized and critical mind. Packages, boxes and computers were standing in the way where people initially put them. So there was no organizational 
    thinking. It was not optimized at all. No one seemed to be ambitious. No one was highly educated or wanted to develop. 
    Yet, local people knew how to navigate through the hostal. Outsiders were not specially treated nor were they attracted. 
    
    <h2>Jeannette</h2>
    She was very much old school. She was open for new things and always eager to learn. She knew that you need manners and clever thinking in order to 
    get what you want. She had a very developed moral system and big motivations. She was thinking far ahead and planned a lot for her childern.
    She has a strong sense of what is right and wrong. She told me how she aquired that. When she crossed to border to the USA, they took everything from her. 
    She was treated like a prisoner in human trafficking. She told me how little the food, a sandwich and a coca cola for a day. No way to make laudry. 
    A devastating position to be and from those experiences she probably developed a strong sense of what it means to be alive.

    <h2>Otinel</h2>
    Someone who always wanted to help but rarely achieved in the ambitious form in which he originally wanted to achieve. A very special guy who 
    knew very well how to treat people and how to pull levers to get what he want. He told me that you have to look only for the eye section of the face.
    Then you can read everything, every emotion and all desires that people have. Just deeply look into the eyes and try to ignore everything else. 
    I think that he made a lot of fun about our destinies. He was not rediculous. He just felt amused by the fact that we are alive.

    <h2>Marvin</h2>
    How can you feel exspelled in such a way that you don't feel to be any part of society anymore. Marvin centered his whole idea of what it means to be 
    human around his gut feeling. He was a though guy. I sensed that he wanted us to feel his urgency. But he also wanted to show us in a very authentic way what it means 
    to be poor and unwanted in society. He had a lot of mistrust towards anyone and talked about other people as politically brainwashed. When we hiked up the 
    volcano concepcion, he made clear that the gate keepers are all part of the national party. They were benefitting without doing anyhting 
    for society. 
    
    <h2>Keylin</h2>
    She was full of hope and visions. I rarely meet people with so much drive and good will for the future. She wanted to elevate and to move from this
    rigid reality that she had. Her greatest wish was to build her own shop and to start to sell paintings and other souverniers to tourists. 
    I'm really not sure whether this idea will or will not be fruitful. Either way, she has another mouth to feed. Her daughter is already more than 10 years old 
    and is full of wishes herself. 

    <h2>Esdraz</h2>
    What a good guy he is. Someone with big dreams and the will to make it the whole way. I think he is very much unhappy without chances to move forward in Dota.
    Someone who wants to advance and change routines has a pretty though time there. 

    <h2></h2>


        
    </p>
{% endblock %}

